{% extends 'base.html' %}{% block content %}
<div class="container p-5 w-75">

<h1>Simulación de Inventario</h1>
<form id="simulationForm">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
    <label for="policy">Política (A o B):</label>
        </div>
    <select id="policy" class="form-select" style="width:100px" name="policy" required>
        <option value="A">A</option>
        <option value="B">B</option>
    </select>
</div>
    <br>

    <h3 class="mb-4">Valores y Probabilidades de Demanda</h3>
    <table id="demandTable">
        <tr>
            <th>Valor de Demanda</th>
            <th>Probabilidad</th>
            <th>Límite Inferior</th>
            <th>Límite Superior</th>
        </tr>
        <tr>
            <td><input class="form-control" type="number" name="demand_value" value="0" min="0"></td>
            <td><input class="form-control" type="number" step="0.01" name="demand_prob" value="0.05" min="0" max="1"></td>
            <td><input class="form-control" type="number" name="demand_lower" disabled></td>
            <td><input class="form-control" type="number" name="demand_upper" disabled></td>
            <td><button type="button" class="btn btn-light ms-1" onclick="deleteRow(this)">Eliminar</button></td>
        </tr>
        <tr>
            <td><input class="form-control" type="number" name="demand_value" value="1" min="0"></td>
            <td><input class="form-control" type="number" step="0.01" name="demand_prob" value="0.20" min="0" max="1"></td>
            <td><input class="form-control" type="number" name="demand_lower" disabled></td>
            <td><input class="form-control" type="number" name="demand_upper" disabled></td>
            <td><button type="button" class="btn btn-light ms-1" onclick="deleteRow(this)" >Eliminar</button></td>
        </tr>
        <tr>
            <td><input class="form-control" type="number" name="demand_value" value="2" min="0"></td>
            <td><input class="form-control" type="number" step="0.01" name="demand_prob" value="0.40" min="0" max="1"></td>
            <td><input class="form-control" type="number" name="demand_lower" disabled></td>
            <td><input class="form-control" type="number" name="demand_upper" disabled></td>
            <td><button type="button" class="btn btn-light ms-1" onclick="deleteRow(this)" >Eliminar</button></td>
        </tr>
        <tr>
            <td><input class="form-control" type="number" name="demand_value" value="3" min="0"></td>
            <td><input class="form-control" type="number" step="0.01" name="demand_prob" value="0.15" min="0" max="1"></td>
            <td><input class="form-control" type="number" name="demand_lower" disabled></td>
            <td><input class="form-control" type="number" name="demand_upper" disabled></td>
            <td><button type="button" class="btn btn-light ms-1" onclick="deleteRow(this)" >Eliminar</button></td>
        </tr>
        <tr>
            <td><input class="form-control" type="number" name="demand_value" value="4" min="0"></td>
            <td><input class="form-control" type="number" step="0.01" name="demand_prob" value="0.10" min="0" max="1"></td>
            <td><input class="form-control" type="number" name="demand_lower" disabled></td>
            <td><input class="form-control" type="number" name="demand_upper" disabled></td>
            <td><button type="button" class="btn btn-light ms-1" onclick="deleteRow(this)" >Eliminar</button></td>
        </tr>
        <tr>
            <td><input class="form-control" type="number" name="demand_value" value="5" min="0"></td>
            <td><input class="form-control" type="number" step="0.01" name="demand_prob" value="0.05" min="0" max="1"></td>
            <td><input class="form-control" type="number" name="demand_lower" disabled></td>
            <td><input class="form-control" type="number" name="demand_upper" disabled></td>
            <td><button type="button" class="btn btn-light ms-1" onclick="deleteRow(this)">Eliminar</button></td>
        </tr>
        <tr>
            <td><input class="form-control" type="number" name="demand_value" value="6" min="0"></td>
            <td><input class="form-control" type="number" step="0.01" name="demand_prob" value="0.05" min="0" max="1"></td>
            <td><input class="form-control" type="number" name="demand_lower" disabled></td>
            <td><input class="form-control" type="number" name="demand_upper" disabled></td>
            <td><button type="button" class="btn btn-light ms-1" onclick="deleteRow(this)">Eliminar</button></td>
        </tr>
    </table>
    <button class="btn btn-light mt-2" type="button" onclick="addRow('demandTable')">Agregar Fila</button>
    <br><br>

    <h3>Valores y Probabilidades de Adelanto</h3>
    <table id="advanceTable">
        <tr>
            <th>Valor de Adelanto</th>
            <th>Probabilidad</th>
            <th>Límite Inferior</th>
            <th>Límite Superior</th>
        </tr>
        <tr class="">
            <td><input class="form-control" type="number" name="advance_value" value="0" min="0"></td>
            <td><input class="form-control" type="number" step="0.01" name="advance_prob" value="0.10" min="0" max="1"></td>
            <td><input class="form-control" type="number" name="advance_lower" disabled></td>
            <td><input class="form-control" type="number" name="advance_upper" disabled></td>
            <td><button type="button" class="btn btn-light ms-1" onclick="deleteRow(this)">Eliminar</button></td>
        </tr>
        <tr>
            <td><input class="form-control" type="number" name="advance_value" value="1" min="0"></td>
            <td><input class="form-control" type="number" step="0.01" name="advance_prob" value="0.25" min="0" max="1"></td>
            <td><input class="form-control" type="number" name="advance_lower" disabled></td>
            <td><input class="form-control" type="number" name="advance_upper" disabled></td>
            <td><button type="button" class="btn btn-light ms-1" onclick="deleteRow(this)" >Eliminar</button></td>
        </tr>
        <tr>
            <td><input class="form-control" type="number" name="advance_value" value="2" min="0"></td>
            <td><input class="form-control" type="number" step="0.01" name="advance_prob" value="0.60" min="0" max="1"></td>
            <td><input class="form-control" type="number" name="advance_lower" disabled></td>
            <td><input class="form-control" type="number" name="advance_upper" disabled></td>
            <td><button type="button" class="btn btn-light ms-1" onclick="deleteRow(this)" >Eliminar</button></td>
        </tr>
        <tr>
            <td><input class="form-control" type="number" name="advance_value" value="3" min="0"></td>
            <td><input class="form-control" type="number" step="0.01" name="advance_prob" value="0.05" min="0" max="1"></td>
            <td><input class="form-control" type="number" name="advance_lower" disabled></td>
            <td><input class="form-control" type="number" name="advance_upper" disabled></td>
            <td><button type="button" class="btn btn-light ms-1" onclick="deleteRow(this)">Eliminar</button></td>
        </tr>
    </table>
    <button class="btn btn-light mt-2" type="button" onclick="addRow('advanceTable')">Agregar Fila</button>
    <br><br>

    <div class="rounded border border-dark-subtle bg-secondary-subtle p-4 mt-5 row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label for="initial_inventory">Inventario Inicial</label>
                <input class="form-control mt-1" type="number" id="initial_inventory" name="initial_inventory" value="28" aria-label="Inventario inicial">
            </div>
            <div class="form-group mb-3">
                <label for="order_quantity">Cantidad de Pedido</label>
                <input class="form-control mt-1" type="number" id="order_quantity" name="order_quantity" value="15" aria-label="Cantidad de pedido">
            </div>
            <div class="form-group mb-3">
                <label for="holding_cost_per_unit_per_week">Costo de Almacenamiento por Unidad por Semana:</label>
                <input class="form-control mt-1" type="number" id="holding_cost_per_unit_per_week" name="holding_cost_per_unit_per_week" value="10" aria-label="Costo de almacenamiento por unidad por semana">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label for="ordering_cost">Costo de Pedido</label>
                <input class="form-control mt-1" type="number" id="ordering_cost" name="ordering_cost" value="200" aria-label="Costo de pedido">
            </div>
            <div class="form-group mb-3">
                <label for="stockout_cost_per_unit">Costo de Desabastecimiento por Unidad</label>
                <input class="form-control mt-1" type="number" id="stockout_cost_per_unit" name="stockout_cost_per_unit" value="50" aria-label="Costo de desabastecimiento por unidad">
            </div>
            <div class="row">
            <div class="form-group col-6 mb-3">
                <label for="num_weeks">Número de Semanas</label>
                <input class="form-control mt-1" type="number" id="num_weeks" name="num_weeks" value="18" aria-label="Número de semanas">
            </div>
            <div class="form-group col-6 mb-3">
                <label for="days_per_week">Días por Semana</label>
                <input class="form-control mt-1" type="number" id="days_per_week" name="days_per_week" value="7" aria-label="Días por semana">
            </div></div>
        </div>
        <div class="col-12 mt-4">
            <button type="submit" class="btn w-100 btn-light">Ejecutar Simulación</button>
        </div>
    </div></form>

</div>
<div class="mt-5 p-5" id="results"></div>
<script>
    function validateNonNegativeValues() {
        const inputs = document.querySelectorAll('input[type="number"]');
        for (let input of inputs) {
            if (input.value < 0) {
                alert('El valor no puede ser negativo: ' + input.labels[0].innerText);
                return false;
            }
        }
        return true;
    }
    
    function addRow(tableId) {
        var table = document.getElementById(tableId);
        var row = table.insertRow();
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4); // Nueva celda para el botón de eliminación
        cell1.innerHTML = '<input class="form-control" type="number" name="' + tableId.slice(0, -5) + '_value">';
        cell2.innerHTML = '<input class="form-control" type="number" step="0.01" name="' + tableId.slice(0, -5) + '_prob" oninput="updateLimits(\'' + tableId + '\')">';
        cell3.innerHTML = '<input class="form-control" type="number" name="' + tableId.slice(0, -5) + '_lower" disabled>';
        cell4.innerHTML = '<input class="form-control" type="number" name="' + tableId.slice(0, -5) + '_upper" disabled>';
        cell5.innerHTML = '<button type="button" class="btn btn-light ms-1" onclick="deleteRow(this)">Eliminar</button>'; // Añadir botón de eliminación
        updateLimits(tableId);
    }

    function deleteRow(button) {
            var row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
            updateLimits('demandTable');
            updateLimits('advanceTable');
        }

    function updateLimits(tableId) {
        var table = document.getElementById(tableId);
        var probInputs = table.querySelectorAll('input[name$="_prob"]');
        var lowerInputs = table.querySelectorAll('input[name$="_lower"]');
        var upperInputs = table.querySelectorAll('input[name$="_upper"]');
        var cumulativeProb = 0;

        probInputs.forEach((probInput, index) => {
            lowerInputs[index].value = cumulativeProb.toFixed(2);
            cumulativeProb += parseFloat(probInput.value);
            upperInputs[index].value = cumulativeProb.toFixed(2);
        });
    }

    document.getElementById('simulationForm').addEventListener('submit', function(event) {
        event.preventDefault();
    
        if (!validateNonNegativeValues()) {
            return; // Stop the form submission if validation fails
        }
    
        var demand_values = Array.from(document.getElementsByName('demand_value')).map(input => Number(input.value));
        var demand_prob = Array.from(document.getElementsByName('demand_prob')).map(input => Number(input.value));
        var advance_values = Array.from(document.getElementsByName('advance_value')).map(input => Number(input.value));
        var advance_prob = Array.from(document.getElementsByName('advance_prob')).map(input => Number(input.value));
    
        // Validate if the sum of probabilities is exactly 1
        var totalDemandProb = demand_prob.reduce((sum, value) => sum + value, 0);
        var totalAdvanceProb = advance_prob.reduce((sum, value) => sum + value, 0);
    
        if (totalDemandProb !== 1 || totalAdvanceProb !== 1) {
            alert('La suma de todas las probabilidades debe ser exactamente 1.');
            return;
        }
    
        updateLimits('demandTable'); // Ensure limits are updated before form submission
        updateLimits('advanceTable');
    
        const formData = {
            politica: document.getElementById('policy').value,
            valores_demanda: demand_values,
            prob_demanda: demand_prob,
            valores_adelanto: advance_values,
            prob_adelanto: advance_prob,
            inventario_inicial: Number(document.getElementById('initial_inventory').value),
            cantidad_pedido: Number(document.getElementById('order_quantity').value),
            costo_almacenamiento_por_unidad_por_semana: Number(document.getElementById('holding_cost_per_unit_per_week').value),
            costo_pedido: Number(document.getElementById('ordering_cost').value),
            costo_desabastecimiento_por_unidad: Number(document.getElementById('stockout_cost_per_unit').value),
            num_semanas: Number(document.getElementById('num_weeks').value),
            dias_por_semana: Number(document.getElementById('days_per_week').value)
        };
    
        fetch('/simulate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
        })
        .then(response => response.json())
        .then(data => {
            let tableHTML = '<table class="table"><thead><tr><th>Día</th><th>Número de Día</th><th>RND Demanda</th><th>Demanda</th><th>Inventario</th><th>Pedido Realizado</th><th>RND Adelanto</th><th>Días de Adelanto</th><th>Costo de Almacenamiento</th><th>Costo de Pedido</th><th>Costo de Desabastecimiento</th><th>Costos Totales</th><th>Costos Acumulados</th><th>Costo Promedio Diario</th></tr></thead>';
            data.tabla.forEach(row => {
                tableHTML += `<tr>
                    <td>${row.dia}</td>
                    <td>${row.num_dia}</td>
                    <td>${row.rnd_demanda}</td>
                    <td>${row.demanda}</td>
                    <td>${row.inventario}</td>
                    <td>${row.pedido_realizado}</td>
                    <td>${row.rnd_adelanto}</td>
                    <td>${row.dias_adelanto}</td>
                    <td>${row.costo_almacenamiento}</td>
                    <td>${row.costo_pedido}</td>
                    <td>${row.costo_desabastecimiento}</td>
                    <td>${row.costos_totales}</td>
                    <td>${row.costos_acumulados}</td>
                    <td>${row.costo_promedio_diario}</td>
                </tr>`;
            });
            tableHTML += '</table>';
    
            document.getElementById('results').innerHTML = `
                <h2>Resultados</h2>
                <p>Costo Total: $${data.costo_total.toFixed(2)}</p>
                <p>Costo Promedio Total por Día: $${data.costo_promedio_total.toFixed(2)}</p>
                ${tableHTML}
            `;
        })
        .catch(error => console.error('Error:', error));
    });
    
    document.addEventListener('DOMContentLoaded', () => {
        updateLimits('demandTable');
        updateLimits('advanceTable');
    });

    // Ensure limits are updated whenever any input in the demandTable or advanceTable changes
    document.querySelectorAll('input[name$="_prob"]').forEach(input => {
        input.addEventListener('input', function() {
            updateLimits('demandTable');
            updateLimits('advanceTable');
        });
    });

</script>
{% endblock %}
