{% extends 'base.html' %} {% block content %}
<div class="container p-5 w-80">
  <h1>TP4 - Simulación de un aeropuerto</h1>
  <form method="GET" action="/tp4">
    <div
      class="rounded border border-dark-subtle bg-secondary-subtle p-4 mt-5 container row"
    >
      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="start_row">Fila inicial</label>
          <input
            type="number"
            id="start_row"
            name="start_row"
            class="form-control mt-1"
            required
            value="{{ request.args.get('start_row', '0') }}"
          />
        </div>
        <div class="form-group mb-3">
          <label for="additional_rows">Filas adicionales a mostrar</label>
          <input
            type="number"
            id="additional_rows"
            name="additional_rows"
            class="form-control mt-1"
            required
            value="{{ request.args.get('additional_rows', '100') }}"
          />
        </div>
        <div class="form-group mb-3">
          <label for="total_rows">Filas totales a simular</label>
          <input
            type="number"
            id="total_rows"
            name="total_rows"
            class="form-control mt-1"
            required
            value="{{ request.args.get('total_rows', '100') }}"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group col-6 mb-3">
            <label for="checkin_arrivals">Tasa de llegada check-in</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="checkin_arrivals"
                name="checkin_arrivals"
                value="{{ request.args.get('checkin_arrivals', '50') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
          <div class="form-group col-6 mb-3">
            <label for="ends_checkin">Tasa de atención Check-in</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="ends_checkin"
                name="ends_checkin"
                value="{{ request.args.get('ends_checkin', '15') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6 mb-3">
            <label for="security_arrivals">Tasa de llegada seguridad</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="security_arrivals"
                name="security_arrivals"
                value="{{ request.args.get('security_arrivals', '40') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
          <div class="form-group col-6 mb-3">
            <label for="ends_security">Tasa de atención seguridad</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="ends_security"
                name="ends_security"
                value="{{ request.args.get('ends_security', '20') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6 mb-3">
            <label for="passport_arrivals">Tasa de llegada pasaportes</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="passport_arrivals"
                name="passport_arrivals"
                value="{{ request.args.get('passport_arrivals', '25') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
          <div class="form-group col-6 mb-3">
            <label for="ends_passport">Tasa de atención pasaportes</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="ends_passport"
                name="ends_passport"
                value="{{ request.args.get('ends_passport', '12') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6 mb-3">
            <label for="boarding_arrivals">Tasa de llegada embarque</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="boarding_arrivals"
                name="boarding_arrivals"
                value="{{ request.args.get('boarding_arrivals', '60') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
          <div class="form-group col-6 mb-3">
            <label for="ends_boarding">Tasa de atención embarque</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="ends_boarding"
                name="ends_boarding"
                value="{{ request.args.get('ends_boarding', '25') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <button type="submit" class="btn w-100 btn-light">
          Ejecutar Simulación
        </button>
      </div>
    </div>
  </form>

  {% if data %}
  <table class="table table-bordered position-absolute start-0 mt-4">
    <thead class="text-center">
      <tr>
        <th rowspan="3">#</th>
        <th rowspan="3">Event</th>
        <th rowspan="3">Clock (min)</th>
        <th colspan="3">Check-in Arrival</th>
        <th colspan="3">Security Arrival</th>
        <th colspan="3">Passport Arrival</th>
        <th colspan="3">Boarding Arrival</th>
        <th colspan="5">End Check-in</th>
        <th colspan="4">End Security</th>
        <th colspan="4">End Passport</th>
        <th colspan="5">End Boarding</th>
        <th colspan="4">Check-in</th>
        <th colspan="3">Security</th>
        <th colspan="3">Passport</th>
        <th colspan="4">Boarding</th>
        <th rowspan="3">AC Waiting Time Check-in</th>
        <th rowspan="3">Tiempo promedio espera checkin</th>
        <th rowspan="3">Tiempo ocupación checkin</th>
        <th rowspan="3">Porcentaje Ocupación checkin</th>
        <th rowspan="3">AC Waiting Time Security</th>
        <th rowspan="3">Tiempo promedio espera seguridad</th>
        <th rowspan="3">Tiempo ocupación seguridad</th>
        <th rowspan="3">Porcentaje Ocupación seguridad</th>
        <th rowspan="3">AC Waiting Time Passport</th>
        <th rowspan="3">Tiempo promedio espera pasaporte</th>
        <th rowspan="3">Tiempo ocupación pasaporte</th>
        <th rowspan="3">Porcentaje Ocupación pasaporte</th>
        <th rowspan="3">AC Waiting Time Boarding</th>
        <th rowspan="3">Tiempo promedio espera embarque</th>
        <th rowspan="3">Tiempo ocupación embarque</th>
        <th rowspan="3">Porcentaje Ocupación embarque</th>
        <th colspan="{{ active_passengers | length * 2}}">Passenger</th>
      </tr>
      <tr>
        <th rowspan="2">Rnd</th>
        <th rowspan="2">Time Between Arrivals</th>
        <th rowspan="2">Next Arrival</th>
        <th rowspan="2">Rnd</th>
        <th rowspan="2">Time Between Arrivals</th>
        <th rowspan="2">Next Arrival</th>
        <th rowspan="2">Rnd</th>
        <th rowspan="2">Time Between Arrivals</th>
        <th rowspan="2">Next Arrival</th>
        <th rowspan="2">Rnd</th>
        <th rowspan="2">Time Between Arrivals</th>
        <th rowspan="2">Next Arrival</th>
        <th rowspan="2">Rnd</th>
        <th rowspan="2">Time of Attention</th>
        <th rowspan="2">1</th>
        <th rowspan="2">2</th>
        <th rowspan="2">3</th>
        <th rowspan="2">Rnd</th>
        <th rowspan="2">Time of Attention</th>
        <th rowspan="2">1</th>
        <th rowspan="2">2</th>
        <th rowspan="2">Rnd</th>
        <th rowspan="2">Time of Attention</th>
        <th rowspan="2">1</th>
        <th rowspan="2">2</th>
        <th rowspan="2">Rnd</th>
        <th rowspan="2">Time of Attention</th>
        <th rowspan="2">1</th>
        <th rowspan="2">2</th>
        <th rowspan="2">3</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th rowspan="2">Queue</th>
        <th>1</th>
        <th>2</th>
        <th rowspan="2">Queue</th>
        <th>1</th>
        <th>2</th>
        <th rowspan="2">Queue</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th rowspan="2">Queue</th>
        {% for key in active_passengers %}
        <th colspan="2">{{ key }}</th>
        {% endfor %}
      </tr>
      <tr>
        <th>State</th>
        <th>State</th>
        <th>State</th>
        <th>State</th>
        <th>State</th>
        <th>State</th>
        <th>State</th>
        <th>State</th>
        <th>State</th>
        <th>State</th>
        {% for key in active_passengers %}
        <th>State</th>
        <th>Waiting start</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody class="table-group-divider">
      {% for row in data %}
      <tr>
        <td>{{ row.row_id }}</td>
        <td>{{ row.event }}</td>
        <td>{{ row.clock }}</td>
        <td>{{ row.checkin_arrival_rnd }}</td>
        <td>{{ row.checkin_arrival_time_between }}</td>
        <td>{{ row.checkin_arrival_next }}</td>
        <td>{{ row.security_arrival_rnd }}</td>
        <td>{{ row.security_arrival_time_between }}</td>
        <td>{{ row.security_arrival_next }}</td>
        <td>{{ row.passport_arrival_rnd }}</td>
        <td>{{ row.passport_arrival_time_between }}</td>
        <td>{{ row.passport_arrival_next }}</td>
        <td>{{ row.boarding_arrival_rnd }}</td>
        <td>{{ row.boarding_arrival_time_between }}</td>
        <td>{{ row.boarding_arrival_next }}</td>
        <td>{{ row.end_checkin_rnd }}</td>
        <td>{{ row.end_checkin_time }}</td>
        <td>{{ row.end_checkin_1 }}</td>
        <td>{{ row.end_checkin_2 }}</td>
        <td>{{ row.end_checkin_3 }}</td>
        <td>{{ row.end_security_rnd }}</td>
        <td>{{ row.end_security_time }}</td>
        <td>{{ row.end_security_1 }}</td>
        <td>{{ row.end_security_2 }}</td>
        <td>{{ row.end_passport_rnd }}</td>
        <td>{{ row.end_passport_time }}</td>
        <td>{{ row.end_passport_1 }}</td>
        <td>{{ row.end_passport_2 }}</td>
        <td>{{ row.end_boarding_rnd }}</td>
        <td>{{ row.end_boarding_time }}</td>
        <td>{{ row.end_boarding_1 }}</td>
        <td>{{ row.end_boarding_2 }}</td>
        <td>{{ row.end_boarding_3 }}</td>
        <td>{{ row.checkin_state_1 }}</td>
        <td>{{ row.checkin_state_2 }}</td>
        <td>{{ row.checkin_state_3 }}</td>
        <td>{{ row.checkin_queue }}</td>
        <td>{{ row.security_state_1 }}</td>
        <td>{{ row.security_state_2 }}</td>
        <td>{{ row.security_queue }}</td>
        <td>{{ row.passport_state_1 }}</td>
        <td>{{ row.passport_state_2 }}</td>
        <td>{{ row.passport_queue }}</td>
        <td>{{ row.boarding_state_1 }}</td>
        <td>{{ row.boarding_state_2 }}</td>
        <td>{{ row.boarding_state_3 }}</td>
        <td>{{ row.boarding_queue }}</td>
        <td>{{ row.ac_waiting_time_checkin }}</td>
        <td>{{ row.average_time_checkin }}</td>
        <td>{{ row.ocupation_time_checkin }}</td>
        <td>{{ row.percent_time_checkin }}</td>
        <td>{{ row.ac_waiting_time_security }}</td>
        <td>{{ row.average_time_security }}</td>
        <td>{{ row.ocupation_time_security }}</td>
        <td>{{ row.percent_time_security }}</td>
        <td>{{ row.ac_waiting_time_passport }}</td>
        <td>{{ row.average_time_passport }}</td>
        <td>{{ row.ocupation_time_passport }}</td>
        <td>{{ row.percent_time_passport }}</td>
        <td>{{ row.ac_waiting_time_boarding }}</td>
        <td>{{ row.average_time_boarding }}</td>
        <td>{{ row.ocupation_time_boarding }}</td>
        <td>{{ row.percent_time_boarding }}</td>
        {% for key in active_passengers %}
        <td>{{ row['passenger_' ~ key ~ '_state'] }}</td>
        <td>{{ row['passenger_' ~ key ~ '_waiting_time'] }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
