{% extends 'base.html' %}
{% block content %}

<form method="GET" action="/tp4">
  <div class="form-group">
    <label for="start_line">Start Line:</label>
    <input type="number" id="start_line" name="start_line" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="end_line">End Line:</label>
    <input type="number" id="end_line" name="end_line" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="total_rows">Total Rows to Simulate:</label>
    <input type="number" id="total_rows" name="total_rows" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Simulate</button>
</form>

{% if data %}
<table class="table table-bordered mt-4">
  <thead class="text-center">
    <tr>
      <th rowspan="3">Event</th>
      <th rowspan="3">Clock (min)</th>
      <th colspan="3">Check-in Arrival</th>
      <th colspan="3">Security Arrival</th>
      <th colspan="3">Passport Arrival</th>
      <th colspan="3">Boarding Arrival</th>
      <th colspan="5">End Check-in</th>
      <th colspan="4">End Security</th>
      <th colspan="4">End Passport</th>
      <th colspan="5">End Boarding</th>
      <th colspan="4">Check-in</th>
      <th colspan="3">Security</th>
      <th colspan="3">Passport</th>
      <th colspan="4">Boarding</th>
      <th rowspan="3">AC Waiting Time Check-in</th>
      <th rowspan="3">Tiempo promedio espera checkin</th>
      <th rowspan="3">Tiempo ocupación checkin</th>
      <th rowspan="3">Porcentaje Ocupación checkin</th>
      <th rowspan="3">AC Waiting Time Security</th>
      <th rowspan="3">Tiempo promedio espera seguridad</th>
      <th rowspan="3">Tiempo ocupación seguridad</th>
      <th rowspan="3">Porcentaje Ocupación seguridad</th>
      <th rowspan="3">AC Waiting Time Passport</th>
      <th rowspan="3">Tiempo promedio espera pasaporte</th>
      <th rowspan="3">Tiempo ocupación pasaporte</th>
      <th rowspan="3">Porcentaje Ocupación pasaporte</th>
      <th rowspan="3">AC Waiting Time Boarding</th>
      <th rowspan="3">Tiempo promedio espera embarque</th>
      <th rowspan="3">Tiempo ocupación embarque</th>
      <th rowspan="3">Porcentaje Ocupación embarque</th>
      <th colspan="{{ passenger_count }}">Passenger</th>
    </tr>
    <tr>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Time Between Arrivals</th>
      <th rowspan="2">Next Arrival</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Time Between Arrivals</th>
      <th rowspan="2">Next Arrival</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Time Between Arrivals</th>
      <th rowspan="2">Next Arrival</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Time Between Arrivals</th>
      <th rowspan="2">Next Arrival</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Time of Attention</th>
      <th rowspan="2">1</th>
      <th rowspan="2">2</th>
      <th rowspan="2">3</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Time of Attention</th>
      <th rowspan="2">1</th>
      <th rowspan="2">2</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Time of Attention</th>
      <th rowspan="2">1</th>
      <th rowspan="2">2</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Time of Attention</th>
      <th rowspan="2">1</th>
      <th rowspan="2">2</th>
      <th rowspan="2">3</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th rowspan="2">Queue</th>
      <th>1</th>
      <th>2</th>
      <th rowspan="2">Queue</th>
      <th>1</th>
      <th>2</th>
      <th rowspan="2">Queue</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th rowspan="2">Queue</th>
      {% for i in range(1, passenger_count + 1) %}
      <th>{{ i }}</th>
      {% endfor %}
    </tr>
    <tr>
      <th>State</th>
      <th>State</th>
      <th>State</th>
      <th>State</th>
      <th>State</th>
      <th>State</th>
      <th>State</th>
      <th>State</th>
      <th>State</th>
      <th>State</th>
      {% for _ in range(1, passenger_count + 1) %}
      <th>State</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody class="table-group-divider">
      {% for row in data %}
      <tr>
        <td>{{ row.event }}</td>
        <td>{{ row.clock }}</td>
        <td>{{ row.checkin_arrival_rnd }}</td>
        <td>{{ row.checkin_arrival_time_between }}</td>
        <td>{{ row.checkin_arrival_next }}</td>
        <td>{{ row.security_arrival_rnd }}</td>
        <td>{{ row.security_arrival_time_between }}</td>
        <td>{{ row.security_arrival_next }}</td>
        <td>{{ row.passport_arrival_rnd }}</td>
        <td>{{ row.passport_arrival_time_between }}</td>
        <td>{{ row.passport_arrival_next }}</td>
        <td>{{ row.boarding_arrival_rnd }}</td>
        <td>{{ row.boarding_arrival_time_between }}</td>
        <td>{{ row.boarding_arrival_next }}</td>
        <td>{{ row.end_checkin_rnd }}</td>
        <td>{{ row.end_checkin_time }}</td>
        <td>{{ row.end_checkin_1 }}</td>
        <td>{{ row.end_checkin_2 }}</td>
        <td>{{ row.end_checkin_3 }}</td>
        <td>{{ row.end_security_rnd }}</td>
        <td>{{ row.end_security_time }}</td>
        <td>{{ row.end_security_1 }}</td>
        <td>{{ row.end_security_2 }}</td>
        <td>{{ row.end_passport_rnd }}</td>
        <td>{{ row.end_passport_time }}</td>
        <td>{{ row.end_passport_1 }}</td>
        <td>{{ row.end_passport_2 }}</td>
        <td>{{ row.end_boarding_rnd }}</td>
        <td>{{ row.end_boarding_time }}</td>
        <td>{{ row.end_boarding_1 }}</td>
        <td>{{ row.end_boarding_2 }}</td>
        <td>{{ row.end_boarding_3 }}</td>
        <td>{{ row.checkin_state_1 }}</td>
        <td>{{ row.checkin_state_2 }}</td>
        <td>{{ row.checkin_state_3 }}</td>
        <td>{{ row.checkin_queue }}</td>
        <td>{{ row.security_state_1 }}</td>
        <td>{{ row.security_state_2 }}</td>
        <td>{{ row.security_queue }}</td>
        <td>{{ row.passport_state_1 }}</td>
        <td>{{ row.passport_state_2 }}</td>
        <td>{{ row.passport_queue }}</td>
        <td>{{ row.boarding_state_1 }}</td>
        <td>{{ row.boarding_state_2 }}</td>
        <td>{{ row.boarding_state_3 }}</td>
        <td>{{ row.boarding_queue }}</td>
        <td>{{ row.ac_waiting_time_checkin }}</td>
        <td>{{ row.promedy_time_checkin }}</td>
        <td>{{ row.ocupation_time_checkin }}</td>
        <td>{{ row.porcent_time_checkin }}</td>
        <td>{{ row.ac_waiting_time_security }}</td>
        <td>{{ row.promedy_time_security }}</td>
        <td>{{ row.ocupation_time_security }}</td>
        <td>{{ row.porcent_time_security }}</td>
        <td>{{ row.ac_waiting_time_passport }}</td>
        <td>{{ row.promedy_time_passport }}</td>
        <td>{{ row.ocupation_time_passport }}</td>
        <td>{{ row.porcent_time_passport }}</td>
        <td>{{ row.ac_waiting_time_boarding }}</td>
        <td>{{ row.promedy_time_boarding }}</td>
        <td>{{ row.ocupation_time_boarding }}</td>
        <td>{{ row.porcent_time_boarding }}</td>
        {% for i in range(1, passenger_count + 1) %}
        <td>{{ row['passenger_' ~ i ~ '_state'] }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
