{% extends 'base.html' %} {% block content %}

<div class="container p-5 w-80">
  <h1 class="text-center">TP5 - Simulación de un aeropuerto - Actualización</h1>
  <form method="GET" action="/tp5" id="simulation-form">
    <div
      class="rounded border border-dark-subtle bg-secondary-subtle p-4 mt-5 container row"
    >
      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="start_row">Fila inicial</label>
          <input
            type="number"
            id="start_row"
            name="start_row"
            class="form-control mt-1"
            required
            value="{{ request.args.get('start_row', '0') }}"
          />
        </div>
        <div class="form-group mb-3">
          <label for="additional_rows">Filas adicionales a mostrar</label>
          <input
            type="number"
            id="additional_rows"
            name="additional_rows"
            class="form-control mt-1"
            required
            value="{{ request.args.get('additional_rows', '300') }}"
          />
        </div>
        <div class="form-group mb-3">
          <label for="total_rows">Filas totales a simular</label>
          <input
            type="number"
            id="total_rows"
            name="total_rows"
            class="form-control mt-1"
            required
            value="{{ request.args.get('total_rows', '1000') }}"
          />
        </div>

        <div class="form-group mb-3">
          <label for="checkin_servers">Mostradores Check-in</label>
          <input
            type="number"
            id="checkin_servers"
            name="checkin_servers"
            class="form-control mt-1"
            required
            value="{{ request.args.get('checkin_servers', '3') }}"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group col-6 mb-3">
            <label for="checkin_arrivals">Tasa de llegada check-in</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="checkin_arrivals"
                name="checkin_arrivals"
                value="{{ request.args.get('checkin_arrivals', '50') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
          <div class="form-group col-6 mb-3">
            <label for="ends_checkin">Tasa de atención Check-in</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="ends_checkin"
                name="ends_checkin"
                value="{{ request.args.get('ends_checkin', '15') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6 mb-3">
            <label for="security_arrivals">Tasa de llegada seguridad</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="security_arrivals"
                name="security_arrivals"
                value="{{ request.args.get('security_arrivals', '40') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
          <div class="form-group col-6 mb-3">
            <label for="ends_security">Tasa de atención seguridad</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="ends_security"
                name="ends_security"
                value="{{ request.args.get('ends_security', '20') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6 mb-3">
            <label for="passport_arrivals">Tasa de llegada pasaportes</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="passport_arrivals"
                name="passport_arrivals"
                value="{{ request.args.get('passport_arrivals', '25') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
          <div class="form-group col-6 mb-3">
            <label for="ends_passport">Tasa de atención pasaportes</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="ends_passport"
                name="ends_passport"
                value="{{ request.args.get('ends_passport', '12') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6 mb-3">
            <label for="boarding_arrivals">Tasa de llegada embarque</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="boarding_arrivals"
                name="boarding_arrivals"
                value="{{ request.args.get('boarding_arrivals', '60') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
          <div class="form-group col-6 mb-3">
            <label for="ends_boarding">Tasa de atención embarque</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="ends_boarding"
                name="ends_boarding"
                value="{{ request.args.get('ends_boarding', '25') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6 mb-3">
            <label for="passport_arrivals">Tasa de llegada embalaje (punto 7)</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="embalaje_arrivals"
                name="embalaje_arrivals"
                value="{{ request.args.get('embalaje_arrivals', '25') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
          <div class="form-group col-6 mb-3">
            <label for="ends_passport">Tasa de atención embalaje (punto 7)</label>
            <div class="input-group mt-1">
              <input
                class="form-control"
                type="number"
                id="ends_embalaje"
                name="ends_embalaje"
                value="{{ request.args.get('ends_embalaje', '12') }}"
              />
              <span
                class="input-group-text"
                style="font-size: 0.8em; color: lightgray"
                >por hora</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <button type="submit" class="btn w-100 btn-light" id="simulate-button">
          Ejecutar Simulación
        </button>
        <button class="btn btn-light w-100 d-none" type="button" id="loading-button" disabled>
          <span class="spinner-grow spinner-grow-sm mr-2" aria-hidden="true"></span>
          <span role="status">Cargando...</span>
        </button>
      </div>
    </div>
  </form>

  {% set translations = {
    'in': 'En',
    'queue': 'Cola',
    'security': 'seguridad',
    'passport': 'pasaporte',
    'checkin': 'check-in',
    'boarding': 'embarque',
    'embalaje': 'embalaje'
  } %}
  

  {% if final_averages and final_percents %}
<div class="mt-5">
  <h2>Resumen</h2>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h4>Tiempo promedio de espera</h4>
      <ul>
        {% for event, avg_time in final_averages.items() %}
        <li>{{ translations[event.lower()] | capitalize }}: {{ avg_time }} minutos</li>
        {% endfor %}
      </ul>
      {% if min_avg_event %}
      <p>Para esperar el menor tiempo posible, el pasajero debe ir a {{ translations[min_avg_event.lower()] | capitalize }}.</p>
      {% endif %}
    </div>
    <div class="col-md-6">
      <h4>Porcentaje de ocupación de cada servidor</h4>
      <ul>
        {% for event, percent_time in final_percents.items() %}
        <li>{{ translations[event.lower()] | capitalize }}: {{ percent_time }}%</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Cantidad total de personas atendidas</h4>
      <p>{{passengers_completed}}</p>
    </div>
    <div class="col-md-6">
      <h4>Cantidad máxima de personas en cola de seguridad</h4>
      <p>{{max_security_queue}}</p>
    </div>
    <div class="col-md-6">
      <h4>Cantidad promedio de personas en cola de pasaporte</h4>
      <p>{{cantidad_promedio_cola}}</p>
    </div>
  </div>
</div>
  {% endif %}


  {% if data %}
  <table class="table text-center table-bordered position-absolute start-0 mt-4">
    <thead>
      <tr>
        <th rowspan="3">#</th>
        <th rowspan="3">Evento</th>
        <th rowspan="3">Reloj (min)</th>
        <th colspan="3">Llegada Check-in </th>
        <th colspan="3">Llegada Seguridad</th>
        <th colspan="3">Llegada Pasaporte </th>
        <th colspan="3">Llegada Embarque</th>
        <th colspan="4"> Llegada Embalaje</th>
        <th colspan="{{ checkin_servers + 2 }}">Fin Check-in</th>
        <th colspan="4">Fin Seguridad</th>
        <th colspan="4">Fin Pasaporte</th>
        <th colspan="5">Fin Embarque</th>
        <th colspan="4">Fin Embalaje</th>
        <th colspan="{{ checkin_servers + 1 }}">Check-in</th>
        <th colspan="3">Seguridad</th>
        <th colspan="5">Pasaporte</th>
        <th colspan="4">Embarque</th>
        <th colspan="3">Embalaje</th>
        <th colspan="5">Corte de Energía</th>
        <th rowspan="3">AC Tiempo espera Check-in</th>
        <th rowspan="3">Tiempo promedio espera checkin</th>
        <th rowspan="3">Tiempo ocupación checkin</th>
        <th rowspan="3">Porcentaje Ocupación checkin</th>
        <th rowspan="3">AC Tiempo Espera Security</th>
        <th rowspan="3">Tiempo promedio espera seguridad</th>
        <th rowspan="3">Tiempo ocupación seguridad</th>
        <th rowspan="3">Porcentaje Ocupación seguridad</th>
        <th rowspan="3">AC Tiempo Espera Pasaporte</th>
        <th rowspan="3">Tiempo promedio espera pasaporte</th>
        <th rowspan="3">Tiempo ocupación pasaporte</th>
        <th rowspan="3">Porcentaje Ocupación pasaporte</th>
        <th rowspan="3">AC Tiempo Espera Embarque</th>
        <th rowspan="3">Tiempo promedio espera embarque</th>
        <th rowspan="3">Tiempo ocupación embarque</th>
        <th rowspan="3">Porcentaje Ocupación embarque</th>
        <th rowspan="3">AC Tiempo Espera Embalaje</th>
        <th rowspan="3">Tiempo promedio espera Embalaje</th>
        <th rowspan="3">Tiempo ocupación Embalaje</th>
        <th rowspan="3">Porcentaje Ocupación Embalaje</th>
        <th rowspan="3">Cantidad personas atendidas</th>
        <th rowspan="4">Máxima cantidad de personas en cola de seguridad</th>
        <th rowspan="3">Cantidad promedio personas en cola de pasaporte</th>
        <th colspan="{{ passengers_in_range | length * 2}}">Pasajero</th>
      </tr>
    </tr>
    <tr>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Tiempo Entre Llegada</th>
      <th rowspan="2">Próxima Llegada</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Tiempo Entre Llegada</th>
      <th rowspan="2">Próxima Llegada</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Tiempo Entre Llegada</th>
      <th rowspan="2">Próxima Llegada</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Tiempo Entre Llegada</th>
      <th rowspan="2">Próxima Llegada</th>
      <th rowspan="2">RND va a embalaje (>0.38 no va)</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Tiempo Entre Llegada</th>
      <th rowspan="2">Próxima Llegada</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Tiempo de atención</th>
      {% for i in range(1, checkin_servers + 1) %}
      <th rowspan="2">{{ i }}</th>
      {% endfor %}
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Tiempo de atención</th>
      <th rowspan="2">1</th>
      <th rowspan="2">2</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Tiempo de atención</th>
      <th rowspan="2">1</th>
      <th rowspan="2">2</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Tiempo de atención</th>
      <th rowspan="2">1</th>
      <th rowspan="2">2</th>
      <th rowspan="2">3</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Tiempo de atención</th>
      <th rowspan="2">1</th>
      <th rowspan="2">2</th>
      {% for i in range(1, checkin_servers + 1) %}
      <th>{{ i }}</th>
      {% endfor %}
      <th rowspan="2">Cola</th>
      <th>1</th>
      <th>2</th>
      <th rowspan="2">Cola</th>
      <th colspan="2">1</th>
      <th colspan="2">2</th>
      <th rowspan="2">Cola</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th rowspan="2">Cola</th>
      <th>1</th>
      <th>2</th>
      <th rowspan="2">Cola</th>
      <th rowspan="2">Rnd</th>
      <th rowspan="2">Intervalo próximo corte</th>
      <th rowspan="2">Próximo Corte</th>
      <th rowspan="2">Intervalo Fin Enfriamiento</th>
      <th rowspan="2">Fin Enfriamiento</th>
        {% for passenger in passengers_in_range %}
        <th colspan="2">{{ passenger }}</th>
        {% endfor %}
    </tr>
    <tr>
      {% for i in range(1, checkin_servers + 1) %}
      <th>Estado</th>
      {% endfor %}
      <th>Estado</th>
      <th>Estado</th>
      <th>Estado</th>
      <th>Tiempo restante</th>
      <th>Estado</th>
      <th>Tiempo restante</th>
      <th>Estado</th>
      <th>Estado</th>
      <th>Estado</th>
      <th>Estado</th>
      <th>Estado</th>
      {% for passenger in passengers_in_range %}
      <th>Estado</th>
        <th>Empezó espera</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for row in data %}
      <tr>
        <td>{{ row.row_id }}</td>
        <td class="text-start">      
          {% if row.event.startswith('End ') %}
          {% set event_details = row.event[4:] %}
          {% set event_name = event_details.split(' (')[0] %}
          {% set server_and_id = event_details.split(' (')[1].rsplit(') ', 1) %}
          {% set server_id = server_and_id[0] %}
          {% set event_id = server_and_id[1] %}
          {% set translated_event_name = translations[event_name.lower()] %}
          Fin de {{ translated_event_name | capitalize }} ({{ server_id }}) {{ event_id }}
        {% elif 'arrival' in row.event %}
          {% set event_parts = row.event.split(' arrival ') %}
          {% set event_name = event_parts[0] %}
          {% set event_id = event_parts[1] %}
          {% set translated_event_name = translations[event_name.lower()] %}
          Llegada de {{ translated_event_name | capitalize }} {{ event_id }}
        {% else %}
          {{ row.event }} <!-- Keep original if not matching known formats -->
        {% endif %}
          </td>
        <td>{{ row.clock }}</td>
        <td>{{ row.checkin_arrival_rnd }}</td>
        <td>{{ row.checkin_arrival_time_between }}</td>
        <td>{{ row.checkin_arrival_next }}</td>
        <td>{{ row.security_arrival_rnd }}</td>
        <td>{{ row.security_arrival_time_between }}</td>
        <td>{{ row.security_arrival_next }}</td>
        <td>{{ row.passport_arrival_rnd }}</td>
        <td>{{ row.passport_arrival_time_between }}</td>
        <td>{{ row.passport_arrival_next }}</td>
        <td>{{ row.boarding_arrival_rnd }}</td>
        <td>{{ row.boarding_arrival_time_between }}</td>
        <td>{{ row.boarding_arrival_next }}</td>
        <td>{{ row.embalaje_goes_rnd }}</td>
        <td>{{ row.embalaje_arrival_rnd }}</td>
        <td>{{ row.embalaje_arrival_time_between }}</td>
        <td>{{ row.embalaje_arrival_next }}</td>
        <td>{{ row.end_checkin_rnd }}</td>
        <td>{{ row.end_checkin_time }}</td>
        {% for i in range(1, checkin_servers + 1) %}
        <td>{{ row['end_checkin_' ~ i] }}</td>
        {% endfor %}
        <td>{{ row.end_security_rnd }}</td>
        <td>{{ row.end_security_time }}</td>
        <td>{{ row.end_security_1 }}</td>
        <td>{{ row.end_security_2 }}</td>
        <td>{{ row.end_passport_rnd }}</td>
        <td>{{ row.end_passport_time }}</td>
        <td>{{ row.end_passport_1 }}</td>
        <td>{{ row.end_passport_2 }}</td>
        <td>{{ row.end_boarding_rnd }}</td>
        <td>{{ row.end_boarding_time }}</td>
        <td>{{ row.end_boarding_1 }}</td>
        <td>{{ row.end_boarding_2 }}</td>
        <td>{{ row.end_boarding_3 }}</td>
        <td>{{ row.end_embalaje_rnd }}</td>
        <td>{{ row.end_embalaje_time }}</td>
        <td>{{ row.end_embalaje_1 }}</td>
        <td>{{ row.end_embalaje_2 }}</td>
        {% for i in range(1, checkin_servers + 1) %}
        <td>{{ row['checkin_state_' ~ i] }}</td>
        {% endfor %}
        <td>{{ row.checkin_queue }}</td>
        <td>{{ row.security_state_1 }}</td>
        <td>{{ row.security_state_2 }}</td>
        <td>{{ row.security_queue }}</td>
        <td>{{ row.passport_state_1 }}</td>
        <td>{{ row.passport_remaining_1 }}</td>
        <td>{{ row.passport_state_2 }}</td>
        <td>{{ row.passport_remaining_2 }}</td>
        <td>{{ row.passport_queue }}</td>
        <td>{{ row.boarding_state_1 }}</td>
        <td>{{ row.boarding_state_2 }}</td>
        <td>{{ row.boarding_state_3 }}</td>
        <td>{{ row.boarding_queue }}</td>
        <td>{{ row.embalaje_state_1 }}</td>
        <td>{{ row.embalaje_state_2 }}</td>
        <td>{{ row.embalaje_queue }}</td>
        <td>{{row.power_outage_arrival_rnd}}</td>
        <td>{{row.power_outage_arrival_time_between}}</td>
        <td>{{row.power_outage_arrival_next}}</td>
        <td>{{row.power_outage_time }}</td>
        <td>{{row.end_power_outage}}</td>
        <td>{{ row.ac_waiting_time_checkin }}</td>
        <td>{{ row.average_time_checkin }}</td>
        <td>{{ row.occupation_time_checkin }}</td>
        <td>{{ row.percent_time_checkin }} %</td>
        <td>{{ row.ac_waiting_time_security }}</td>
        <td>{{ row.average_time_security }}</td>
        <td>{{ row.occupation_time_security }}</td>
        <td>{{ row.percent_time_security }} %</td>
        <td>{{ row.ac_waiting_time_passport }}</td>
        <td>{{ row.average_time_passport }}</td>
        <td>{{ row.occupation_time_passport }}</td>
        <td>{{ row.percent_time_passport }} %</td>
        <td>{{ row.ac_waiting_time_boarding }}</td>
        <td>{{ row.average_time_boarding }}</td>
        <td>{{ row.occupation_time_boarding }}</td>
        <td>{{ row.percent_time_boarding }} %</td>
        <td>{{ row.ac_waiting_time_embalaje }}</td>
        <td>{{ row.average_time_embalaje }}</td>
        <td>{{ row.occupation_time_embalaje }}</td>
        <td>{{ row.percent_time_embalaje }} %</td>
        <td>{{ row.amount_people_attended }} </td>
        <td>{{ row.max_amount_sec_queue }} </td>
        <td>{{ row.promedy_amount_passport_queue }} </td>
        {% for key in passengers_in_range %}
        <td>
          {% set state_value = row['passenger_' ~ key ~ '_state'] %}
          {% if 'in_' in state_value %}
            {% set parts = state_value.split(' ') %}
            {% set action_parts = parts[0].split('_') %}
            {% set prefix = action_parts[0] %}
            {% set queue_indicator = action_parts|length > 2 %}
            {% set event_name = action_parts[-1] %}
            {% set id = parts[1] %}
            {% if prefix in translations %}
              {{ translations[prefix] }}
            {% else %}
              {{ prefix }}
            {% endif %}
            {% if queue_indicator %}
              {{ ' cola de' }}
            {% endif %}
            {% if event_name in translations %}
              {{ translations[event_name] | capitalize }}
            {% else %}
              {{ event_name | capitalize }}
            {% endif %}
            {{ id }}
          {% else %}
            {{ state_value }} <!-- Keep original if not matching known formats -->
          {% endif %}
        </td>
        <td>{{ row['passenger_' ~ key ~ '_started_waiting'] }}</td>
      {% endfor %}
                  </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
<script>
  document.getElementById('simulation-form').addEventListener('submit', function() {
      document.getElementById('simulate-button').classList.add('d-none');
      document.getElementById('loading-button').classList.remove('d-none');
  });
  </script>
  
{% endblock %}
